* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

:root{
	--primary-color: #dedede;
	--secondary-color: #212121;
	--thirth-color: #ffffff;
	--forth-color: grey;
}

.dark-theme{
	--primary-color: #0f0f0f;
	--secondary-color: #f2f2f2;
	--thirth-color: #121212;
	--forth-color: white;
}
  #mode {
	width: 25px;
	cursor: pointer;
  }

  @font-face {
	font-family: "Lobster";
	src:url(Fonts/Lobster-Regular.ttf)
  }

  .logo h3{
	color: #e74c3c;
    font-weight: 300;
    font-size: 50px;
    line-height: 0.65;
    font-family: 'Lobster', cursive;
  }

  @font-face {
	font-family: "Mansalva";
	src:url(Fonts/Mansalva-Regular.ttf)
  }

  .logo p{
	font-size: 14px;
    margin-left: 50px;
    color: var(--secondary-color);
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
	font-family: "Mansalva", cursive;
  }

  @keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
  }
  
  body {
	background-color: var(--primary-color);
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
  }
  
  a {
	text-decoration: none;
	color: var(--secondary-color);
  }
  
  /* Headernye */
  header {
	padding: 10px;
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  nav ul {
  list-style-type: none;
  padding-left: 49rem;
  display: flex;
  }
  
  nav li {
	margin-left: 25px;
  }
  
  nav a {
	font-size: 18px;
  }

  nav a:hover {
	text-decoration: underline;
  }
  
  /* Background Blkg Nama Web */
  .hero {
	background-image: url('images/BG.webp');
	background-size: cover;
	background-position: center;
	height: 500px;
	margin:auto;
	padding-top:200px;
	position: relative;
	justify-content: center;
	align-items: center;
	color:var(--forth-color);
  }
  
  .hero h1 {
	font-size: 48px;
	text-align: center;
	text-shadow: 2px 2px #333;
  }
  
  /* About section styles */
  .about {
	color: var(--secondary-color);
  }
  .about h2 {
	margin-top: -20px;
	text-align: center;
	margin-bottom: 20px;
  }
  
  .about p {
	max-width: 800px;
	margin: auto;
	text-align: justify;
  }

  .contact h2 {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
  }
  
  /* Bagian resep style*/
  .blogresep {
	color: var(--secondary-color);
	padding: 50px 20px;
  }
  
  .blogresep h2 {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .blog-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
  }
   /*Bagian top resep style*/
  .blogtopresep {
	color: var(--secondary-color);
	padding: 50px 35px;
  }
  
  .blogtopresep h2 {
	text-align: center;
	margin-bottom: 20px;
  }

  .post {
	background-color:var(--thirth-color);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	border-radius: 10px;
	overflow: hidden;
	width: 400px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  .post-image {
	height: 250px;
	overflow: hidden;
  }
  
  .post-image img {
	width: 100%;
	height: 100%;
  }
  
  .post-content {
	color: var(--secondary-color);
	padding: 20px;
  }
  
  .post-content h3 {
	margin-bottom: 10px;
  }
  
  .post-content p {
	text-align: justify;
	margin-bottom: 20px;
  }
  
  .btn {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
  }

  .btn:hover {
	background-color: var(--primary-color);
	cursor:pointer;
	color: var(--secondary-color);
  }

  .btnb {
	display: block;
	color: #6e1f7d;
	text-decoration: underline;
	text-align: center;
	padding:auto;
	width:100px;
	height:25px;
	margin:auto;
	border-radius: 10px;
  }

  .btnb:hover {
	color: #9b4dca;
	cursor:pointer;
  }

  .copyright {
	color: var(--secondary-color);
  }